/lib/systemd/system/socketcan-interface.service
[Unit]
Description=SocketCAN can0 baudrate 500000
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ip link set can0 type can bitrate 500000 loopback off ; /sbin/ifconfig can0 up txqueuelen 1000
ExecReload=/sbin/ifconfig can0 down ; /sbin/ip link set can0 type can bitrate 500000 loopback off; /sbin/ifconfig can0 up txqueuelen 1000
ExecStop=/sbin/ifconfig can0 down

[Install]
WantedBy=multi-user.target
